{% extends 'base.html' %}


{% block head %}
<title>Posts</title>
{% endblock %}

{% block content %}
<hr/>
<h1>Create New Post</h1>
<form action="/posts/" method="post">
    Title: <input type="text" name="title" id="title">
    <br>
    Author: <input type="text" name="author" id="author">
    <br>
    Content: <input type="text" name="content" id="content">
    <br>
    <input type="submit" value="Post">
</form>
<hr/>

<h2>All Posts</h2>


{% for post in posts %}
    <h2>{{post.title}} </h2>
    <p>{{post.content}}</p>
    {% if post.author %}
<p>Author:<b>{{post.author}}</b> </p>

    {% else %}
    <p>Author: N/A</p>
    {% endif %}
    <a href="/posts/delete/{{post.id}}">Delete</a> ||
    <a href="">Update</a>
{% endfor %}


{% endblock %}