{% extends 'base.html' %}


{% block head %}
<div class="container">
<title>Posts</title>
{% endblock %}

{% block content %}
<hr/>
<h1>New Post</h1>
<form action="/posts/" method="post">
    Title:<br/> <input type="text" name="title" id="title">
    <br>
    Author:<br/> <input type="text" name="author" id="author">
    <br>
    Content:<br/> <input type="text" name="content" id="content">
    <br>
    <input type="submit" class="btn btn-primary" value="Post">
</form>
<hr/>

<h2>All Posts</h2>

    {% for post in posts %}

<div class="post">
        <h2>{{post.title}} </h2>
        <p>{{post.content}}</p>
        {% if post.author %}
    <p>Author:<b>{{post.author}}</b> </p>

        {% else %}
        <p>Author: N/A</p>
        {% endif %}
        <a href="/posts/delete/{{post.id}}" class="btn-del">Delete</a> ||
        <a href="/posts/update/{{post.id}}" class="btn-save">Update</a>

</div>
    {% endfor %}

</div>

{% endblock %}