{% extends 'base.html' %}


{% block head %}
<title>Posts</title>
{% endblock %}

{% block content %}
<hr/>
<h1>Create New Post</h1>
<form action="/posts/update/{{post.id}}" method="post">
    Title:<br/> <input type="text" name="title" id="title" value="{{post.title}}">
    <br>
    Author:<br/> <input type="text" name="author" id="author" value="{{post.author}}">
    <br>
    Content:<br/> <input type="text" name="content" id="content" value="{{post.content}}">
    <br>
    <input type="submit" value="Update" class="btn-save">
</form>
<hr/>



{% endblock %}